<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>Reportlyzer</title>
</head>

<body style="height: 100vh;">
    <div id="layoutSidenav" class="d-flex flex-column h-100 ">
        {% include 'sidebar.html'%}
        <main class="flex-grow-1 h-100 ">
            <div id="layoutSidenav_content" class="flex-grow-1 h-100">
                <div class="container mt-8 flex-grow-1 h-100">
                    <H1>&nbsp;</H1>
                    {% block content %}

                    <!-- The main content would be put here. -->

                    {% endblock %}

                </div>
            </div>
        </main>

    </div>
    <footer class="py-4 bg-light mt-auto footer">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Reportlyzer 2023</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <!-- <script src="js/scripts.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>
